<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SearchTest</title>
</head>
<body>
    <form method="post" name="submit-form">
        {% csrf_token %}
        <p>Movie name:<p>
        <input type="text" name="movieName">
        <input type="submit" value="Search">
    </form>
    <p>Movie Name: {{Title}}</p>
    <p>Realse Year: {{Year}}</p>
    <p>Runtime: {{Runtime}}</p>
    <p>Genre: {{Genre}}</p>
    <p>Director: {{Director}}</p>
    <p>Actors: {{Actors}}</p>
    <br />
    <img style="display:flex;align-content:center;" src={{Poster}} alt='Movie Name'+{{Title}}>

    <p>This is a test page. Not represent final result.</p>
</body>
</html>
